
p{
  margin: 0;  
}
#box{
height: 100vh;
width:100%;
display:grid;
grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1fr 1fr;
font-family: 'Unlock', cursive;font-family: 'Unlock', cursive;
text-align: center;
background:url("images/blue\ background.jpg");
background-repeat: no-repeat;
background-size: cover;
border: solid;
grid-row-gap: 0;

}

#head{
    text-align: center;
    grid-column: 1/8;
    font-family: 'Unlock', cursive;font-family: 'Unlock', cursive;
    font-size: 4em;
}
#artist{
    grid-column: 2/3;
    font-size: 2em;
    border: solid;
    
}
#coding{
    grid-column: 3/4;
    font-size: 2em;
    border: solid;
}
#games{
    grid-column: 4/5;
    font-size: 2em;
    border: solid;
}
#movies{
    grid-column: 5/6;
    font-size: 2em;
    border: solid; 
}
#money{
    grid-column: 6/7;
    font-size: 2em;
    border: solid;
}
.a1{
    grid-row: 3/4;
    grid-column: 2/3;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("images/artist\ pic.jpg");

   
}
.a2{
    grid-row: 4/5;
    grid-column: 2/3;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("images/artist\ pic.jpg");



}
.a3{
    grid-row: 5/6;
    grid-column: 2/3;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("images/artist\ pic.jpg");



}
.a4{
    grid-row: 6/7;
    grid-column: 2/3;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("images/artist\ pic.jpg");



}
.a5{
    grid-row: 7/8;
    grid-column: 2/3;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("images/artist\ pic.jpg");




}
.c1{
    grid-row: 3/4;
    grid-column: 3/4;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    background:url("");


}
.c2{
    grid-row: 4/5;
    grid-column:3/4;
    border: solid;
    border-radius: 10px;
    font-size: 50px;

}
.c3{
    grid-row: 5/6;
    grid-column: 3/4;
    border: solid;
    border-radius: 10px;
    font-size: 50px;



}
.c4{
    grid-row: 6/7 ;
    grid-column: 3/4;
    border: solid;
    border-radius: 10px;
    font-size: 50px;



}
.c5{
    grid-row: 7/8;
    grid-column: 3/4;
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.g1{
 grid-row: 3/4;
 grid-column: 4/5; 
 border: solid;
 border-radius: 10px;
 font-size: 50px;
 background:url("images/");



}
.g2{
    grid-row: 4/5;
    grid-column: 4/5; 
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.g3{
    grid-row: 5/6;
    grid-column: 4/5; 
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.g4{
    grid-row: 6/7;
    grid-column: 4/5; 
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.g5{
    grid-row: 7/8;
    grid-column: 4/5; 
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.m1{
    grid-row: 3/4;
    grid-column: 5/6;
    border: solid;
    border-radius: 10px;
    font-size: 50px;



}
.m2{
    grid-row: 4/5;
    grid-column: 5/6;
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.m3{
    grid-row: 5/6;
    grid-column: 5/6;
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.m4{
    grid-row: 6/7;
    grid-column: 5/6;
    border: solid;
    border-radius: 10px;
    font-size: 50px;





}
.m5{
    grid-row: 7/8;
    grid-column: 5/6;
    border: solid;
    border-radius: 10px;
    font-size: 50px;





}
.mo1{
    grid-row: 3/4;
    grid-column: 6/7;
    border: solid;
    border-radius: 10px;
    font-size: 50px;



    
}
.mo2{
    grid-row: 4/5;
    grid-column: 6/7;
    border: solid;
    border-radius: 10px;
    font-size: 50px;





}
.mo3{
    grid-row: 5/6;
    grid-column: 6/7;
    border: solid;
    border-radius: 10px;
    font-size: 50px;
    


}
.mo4{
    grid-row: 6/7;
    grid-column: 6/7;
    border: solid;
    border-radius: 10px;
    font-size: 50px;



}
.mo5{
    grid-row: 7/8;
    grid-column: 6/7;
    border: solid;
    border-radius: 10px;
    font-size: 50px;




}
.a1:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.a2:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.a3:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.a4:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.a5:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.c1:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.c2:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.c3:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.c4:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.c5:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.g1:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.g2:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.g3:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.g4:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.g5:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.m1:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.m2:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.m3:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.m4:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.m5:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.mo1:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.mo2:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.mo3:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.mo4:hover{
    cursor: pointer;
   transform: scale(1.2);
}
.mo5:hover{
    cursor: pointer;
   transform: scale(1.2);
}
